html{
    scroll-behavior: smooth;
}

* {
        margin: 0;
        padding: 0;
}

.top-menu{
    width: 100%;
    height: 90px;
    background: rgba(24, 29, 49, .8);
    z-index: 3000;
    position: fixed;
}

.linha {
    width: 5px;
    height: 100vh;
    background: #6472A0;
    opacity: 52%;
    position: fixed;
    margin-left: 60px;
}

.menu-option li{
    padding: 30px 15px;
    text-decoration: none;
    list-style-type:none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    float: right;
    padding-right: 50px;
}

.menu-option a{
    text-decoration: none;
    color: #6472A0;
}

.menu-option a:hover{
    color: #FF344C;
}

.menu-option a:active{
    color: #FF344C;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: #181D31;
}

.header img {
    width: 100%;
    height: 100vh;
    opacity: 66%;
}

#face{
    position: fixed;
    color: white;
    margin-top: 650px;
    margin-left: 20px;
    opacity: 60%;
    z-index: 200;
}

#insta {
    position: fixed;
    color: white;
    margin-top: 690px;
    margin-left: 20px;
    opacity: 60%;
    z-index: 200;
}

#link {
    position: fixed;
    color: white;
    margin-top: 610px;
    margin-left: 20px;
    opacity: 60%;
    z-index: 200;
}

.item {
    width: 620px;
    height: 250px;
    position: absolute;
    background: #6472A0;
    opacity: 50%;
    margin-top: 270px;
    margin-left: 550px;
    border-radius: 15px;
}

.name {
    position: absolute;
    color: white;
    margin-top: 350px;
    margin-left: 740px;
    font-size: 25px;
    font-family: 'Segoe UI', sans-serif;
    z-index: 200;
    opacity: 70%;
}

.line2 {
    width: 530px;
    height: 2px;
    position: absolute;
    background-color: white;
    z-index: 200;
    margin-top: 410px;
    margin-left: 600px;
    opacity: 75%;
    z-index: 2000;
}

.description {
    position: absolute;
    margin-top: 420px;
    margin-left: 685px;
    z-index: 200;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    opacity: 70%;
}

.description h3 {
    font-weight: lighter;
}

.banner h2 {
    position: absolute;
    color: #FF344C;
    margin-top: 580px;
    margin-left: 1025px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    z-index: 200;
}

.banner img {
    position: absolute;
    width: 74px;
    height: 74px;
    z-index: 200;
    margin-top: 560px;
    margin-left: 1070px;
}

.sobre {
    width: 100%;
    height: 100vh;
    background:  #181D31;
}

.container img {
    position: absolute;
    width: 550px;
    height: 500px;
    margin-top: 150px;
    margin-left: 150px;
}

.container h1 {
    position: absolute;
    margin-top: 170px;
    margin-left: 800px;
    text-transform: uppercase;
    font-family: 'Segoe UI',sans-serif;
    font-size: 45px;
    letter-spacing: .2rem;
    color: white;
    z-index: 200;

}

.container p {
    position: absolute;
    margin-top: 270px;
    margin-left: 800px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: .2rem;
    color: white;
    z-index: 200;

}

.projects {
    width: 100%;
    height: 200vh;
    background-color: #181D31;
}

.projects h1{
    padding-top: 80px;
    margin-left: 260px;
    top: 45px;
    z-index: 200;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    font-size: 45px;
    text-transform: uppercase;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    width: 300px;
    margin-top: 80px;
    margin-left: 250px;
    z-index: 2000;
    position: absolute;
    transform: scale(0.9);

    font-family: 'Segoe UI', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card-image{
    grid-area: image;
    background: url("./img/ponto-site.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}
 .card-text a{
     color: black;
     text-decoration: none;
 }
.card-text p{
    color: gray;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2{
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #ff344c;
}

.descri {
    color: #FF344C ;
    font-size: 13px;
    font-weight: bold;
}

.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .type{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}


.card-stats .border {
    border-right: 1px solid rgb(172,26,87);
}

.card:hover {
    transform: scale(1.0);
    box-shadow: 5px 5px 15px rgba(100, 114, 160, 0.6);
}

.card2:hover {
    transform: scale(1.0);
    box-shadow: 5px 5px 15px rgba(100, 114, 160, 0.6);
}

.card3:hover {
    transform: scale(1.0);
    box-shadow: 5px 5px 15px rgba(100, 114, 160, 0.6);
}

.card4:hover {
    transform: scale(1.0);
    box-shadow: 5px 5px 15px rgba(100, 114, 160, 0.6);
}

.card5:hover {
    transform: scale(1.0);
    box-shadow: 5px 5px 15px rgba(100, 114, 160, 0.6);
}

.card6:hover {
    transform: scale(1.0);
    box-shadow: 5px 5px 15px rgba(100, 114, 160, 0.6);
}

.card2 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    width: 300px;
    margin-top: 80px;
    margin-left: 680px;
    z-index: 2000;
    position: absolute;
    transform: scale(0.9);

    font-family: 'Segoe UI', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card-image2{
    grid-area: image;
    background: url("./img/Site-oner.JPG");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card3 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    width: 300px;
    margin-top: 80px;
    margin-left: 1100px;
    z-index: 2000;
    position: absolute;
    transform: scale(0.9);

    font-family: 'Segoe UI', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card-image3 {
    grid-area: image;
    background: url("./img/Upload-login.JPG");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card4 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    width: 300px;
    margin-top: 580px;
    margin-left: 250px;
    z-index: 2000;
    position: absolute;
    transform: scale(0.9);

    font-family: 'Segoe UI', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card-image4 {
    grid-area: image;
    background: url("./img/logo-ponto.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card5 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    width: 300px;
    margin-top: 580px;
    margin-left: 680px;
    z-index: 2000;
    position: absolute;
    transform: scale(0.9);

    font-family: 'Segoe UI', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card-image5 {
    grid-area: image;
    background: url("./img/banner-azul.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card6 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    width: 300px;
    margin-top: 580px;
    margin-left: 1100px;
    z-index: 2000;
    position: absolute;
    transform: scale(0.9);

    font-family: 'Segoe UI', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card-image6 {
    grid-area: image;
    background: url("./img/banner-preto.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.skils {
    width: 100%;
    height: 100vh;
    background-color: #181D31;
}

.progress-bar {
    display: flex;
    position: relative;
    width: 300px;
    height: .5em;
    background-color: rgba(100, 114, 160, .1);
    border-radius: 1.5em;
    color: white;

    margin-top: 30px;
    margin-left: 20px;
    z-index: 2000;
}

.progress-bar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .1em;
    top: .1em;
    bottom: .1em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1rem);
    background-color: #FF344C;
    border-radius: 1em;
    padding: .1em;
}

.progress-bar2 {
    display: flex;
    position: relative;
    width: 300px;
    height: .5em;
    background-color: rgba(100, 114, 160, .1);
    border-radius: 1.5em;
    color: white;

    margin-top: 30px;
    margin-left: 20px;
    z-index: 2000;
}

.progress-bar2::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .1em;
    top: .1em;
    bottom: .1em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1rem);
    background-color: #FF344C;
    border-radius: 1em;
    padding: .1em;
}

.progress-bar3 {
    display: flex;
    position: relative;
    width: 300px;
    height: .5em;
    background-color: rgba(100, 114, 160, .1);
    border-radius: 1.5em;
    color: white;

    margin-top: 30px;
    margin-left: 20px;
    z-index: 2000;
}

.progress-bar3::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .1em;
    top: .1em;
    bottom: .1em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1rem);
    background-color: #FF344C;
    border-radius: 1em;
    padding: .1em;
}

.progress-bar4 {
    display: flex;
    position: relative;
    width: 300px;
    height: .5em;
    background-color: rgba(100, 114, 160, .1);
    border-radius: 1.5em;
    color: white;

    margin-top: 30px;
    margin-left: 20px;
    z-index: 2000;
}

.progress-bar4::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .1em;
    top: .1em;
    bottom: .1em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1rem);
    background-color: #FF344C;
    border-radius: 1em;
    padding: .1em;
}

.progress-bar5 {
    display: flex;
    position: relative;
    width: 300px;
    height: .5em;
    background-color: rgba(100, 114, 160, .1);
    border-radius: 1.5em;
    color: white;

    margin-top: 30px;
    margin-left: 20px;
    z-index: 2000;
}

.progress-bar5::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .1em;
    top: .1em;
    bottom: .1em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1rem);
    background-color: #FF344C;
    border-radius: 1em;
    padding: .1em;
}

.progress-bar6 {
    display: flex;
    position: relative;
    width: 300px;
    height: .5em;
    background-color: rgba(100, 114, 160, .1);
    border-radius: 1.5em;
    color: white;

    margin-top: 30px;
    margin-left: 20px;
    z-index: 2000;
}

.progress-bar6::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .1em;
    top: .1em;
    bottom: .1em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1rem);
    background-color: #FF344C;
    border-radius: 1em;
    padding: .1em;
}

.info {
    position: absolute;
    width: 392px;
    height: 127px;
    background-color: rgba(100, 114, 160, .1);
    margin-left: 250px;
    border-radius: 15px;
}

.info h3{
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #FF344C;
    margin-top: 10px;
    margin-left: 25px;

}

.info p{
    position: absolute;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    color: #FF344C;
    margin-left: 335px;
    margin-top: 22px;
    
}

.info2 {
    position: absolute;
    width: 392px;
    height: 127px;
    background-color: rgba(100, 114, 160, .1);
    margin-left: 680px;
    border-radius: 15px;
}

.info2 h3{
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #FF344C;
    margin-top: 10px;
    margin-left: 25px;

}

.info2 p{
    position: absolute;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    color: #FF344C;
    margin-left: 335px;
    margin-top: 22px;
    
}

.info3 {
    position: absolute;
    width: 392px;
    height: 127px;
    background-color: rgba(100, 114, 160, .1);
    margin-left: 1110px;
    border-radius: 15px;
}

.info3 h3{
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #FF344C;
    margin-top: 10px;
    margin-left: 25px;

}

.info3 p{
    position: absolute;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    color: #FF344C;
    margin-left: 335px;
    margin-top: 22px;
    
}

.info4 {
    position: absolute;
    width: 392px;
    height: 127px;
    background-color: rgba(100, 114, 160, .1);
    margin-left: 250px;
    margin-top: 200px;
    border-radius: 15px;
}

.info4 h3{
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #FF344C;
    margin-top: 10px;
    margin-left: 25px;

}

.info4 p{
    position: absolute;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    color: #FF344C;
    margin-left: 335px;
    margin-top: 22px;
    
}

.info5 {
    position: absolute;
    width: 392px;
    height: 127px;
    background-color: rgba(100, 114, 160, .1);
    margin-left: 680px;
    margin-top: 200px;
    border-radius: 15px;
}

.info5 h3{
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #FF344C;
    margin-top: 10px;
    margin-left: 25px;

}

.info5 p{
    position: absolute;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    color: #FF344C;
    margin-left: 335px;
    margin-top: 22px;
    
}

.info6 {
    position: absolute;
    width: 392px;
    height: 127px;
    background-color: rgba(100, 114, 160, .1);
    margin-left: 1110px;
    margin-top: 200px;
    border-radius: 15px;
}

.info6 h3{
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #FF344C;
    margin-top: 10px;
    margin-left: 25px;

}

.info6 p{
    position: absolute;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    color: #FF344C;
    margin-left: 335px;
    margin-top: 22px;
    
}

.skils h1 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 50px;
    margin-left: 250px;
}

.contact {
    width: 100%;
    height: 30vh;
    background-color: #181D31;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact h3{
    position: absolute;
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    margin-left: 250px;
    color: white;
}

.text1{
    position: absolute;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 50px;
    flex-grow: 4;
    margin-left: 500px;
}

.text1 a{
    color: white;
    text-decoration: none;
}

.text2{
    position: absolute;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 50px;
    flex-grow: 4;
    flex: none;
    align-self: flex-start;
    margin-left: 70px;
}

.rodape{
    width: 100%;
    height: 150px;
    background-color: rgba(24, 29, 49, .9);
}

.container-rodape p{
    color: #6472A0;
    font-family: 'Segoe UI', sans-serif;
}

.copy {
    position: absolute;
    padding-left: 850px;
    padding-top: 50px;
}

.direitos {
    position: absolute;
    padding-left: 850px;
    padding-top: 70px;
}

.zap {
    position: absolute;
    padding-top: 50px;
    padding-left: 250px;
    color: #6472A0;
    cursor: pointer;
    z-index: 200;
    text-decoration: none;
}

.zap a {
    text-decoration: none;
    color: #6472A0;
}

.endereco {
    position: absolute;
    padding-top: 70px;
    padding-left: 250px;
}

.endereco-rua {
    position: absolute;
    padding-top: 90px;
    padding-left: 250px;
}

.nomi {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    position: absolute;
    padding-left: 250px;
    padding-top: 20px;
}